<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<table cellpadding=0 cellspacing=5 width="100%">
    <tbody>
        <tr>
            <td colspan="2">
                <table class="panel" align="CENTER" valign="CENTER"
                       border="0" width="100%" cellpadding=0 cellspacing=0>
                    <tr align="CENTER" class="header">
                        <td rowspan="2" height="115" width="15%" valign="CENTER"
                            style="background-image: url(/static/img/lyceum.png); background-size: 100% 100%">
                        </td>
                        <td colspan="3" valign="CENTER" height="48">Timus standing</td>
                    </tr>
                    <tr align="CENTER">
                        <td><a href="/">Положение</a></td>
                        <td><a href="/users">Пользователи</a></td>
                        <td><a href="/about">О нас</a></td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td align="CENTER" valign="CENTER" height="100" colspan="2">
                <h1>О нас</h1>
            </td>
        </tr>

        <tr>
            <td><p style="font-size: 22px;">
              Сайт написал Марат Бекзентеев. Я не имею никакого отношения к разработчикам Timus Online Judge.
              Передаю огромное спасибо Даниилу Палееву за то, что готовит нас к олимпиадам и мотивирует работать,
              Дмитрию Ванину за помощь в деплое, Николаю Денисову за то, что напомнил
              про сайт, Айдару Хасанову за вдохновение, Илье Константинову - за хорошую атмосферу в коллективе.
            </p></td>
        </tr>
    </tbody>
</table>
</body>
</html>